html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  min-width: 1024px;
  height: 100vh;
  margin: 0;
  background-color: rgb(255, 245, 203);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* func */
.func{
  width: 900px;
  display: flex;
}
.func>div{
  flex: 1;
}
.func>div h2{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.func>div .btn{
  display: flex;
  margin-bottom: 20px;
}
.btn button,
.playBar .playMusic-btn{
  min-width: 100px;
  font-size: 16px;
  color: #212529;
  text-align: center;
  background-color: transparent;
  border: 1px solid #212529;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}
.btn button:hover{
  color: #fff;
  background-color: #212529;
}
.btn .record-btn{
  color: #6c757d;
  border: 1px solid #6c757d;
}
.btn .record-btn:hover{
  color: #fff;
  background-color: #6c757d;
}
.btn .record-btn i{
  margin-right: 5px;
}
.fa-circle.shine{
  color: red;
  animation: shine 1s infinite linear;
}
@keyframes shine {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}



/* piano */
.piano{
  width:  840px;
  height: 400px;
  background-color: black;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
}
.title{
  font-size: 4em;
  color: white;
  margin: 30px 0 0 0;
  display: inline-block;
}
.btns{
  display: inline-block;
  margin: auto;
}
.btns button{
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}
.btns button:hover{
  background-color: #333;
}
.keys{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
}
.white{
  width: 100%;
  height: 280px;
  flex:1;
  border: 1px solid rgb(40, 40, 40);
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.white span{
  color: black;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}
.white.playing{
  background-color: #ccc;
}
.black{
  width: 24px;
  height: 180px;
  background-color: black;
  border-radius: 0 0 5px 5px;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 105px;
  z-index: 10;
}
.black span{
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .5em;
}
.black.playing{
  background-color: #333;
}
.white,.black{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}



/* playBar */
.playBar{
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playBar .times,
.playBar .musicName{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.playBar .musicList{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.playBar .musicList .item{
  min-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 1px solid #000;
  background-color: #8acd79;
  padding: 5px;
  margin: 2px;
}
.playBar .musicList .item.active{
  background-color: #6a9c5d;
}
.musicList .item .key{
  font-size: 20px;
  margin-bottom: 5px;
}
.musicList .item .time{
  font-size: 10px;
}
.playBar .playMusic-btn{
  color: #0d6efd;
  background-color: transparent;
  border: 1px solid #0d6efd;
}
.playBar .playMusic-btn:hover{
  color: #fff;
  background-color: #0d6efd;
}
.playBar .playMusic-btn i{
  margin-right: 5px;
}